@font-face {
  font-family: "customfont";
  src:
    url("./assets/sancreek-regular-webfont.eot") format("eot"),
    url("./assets//sancreek-regular-webfont.woff") format("woff");
}

.custom-font {
  font-family: "customfont";
}
